In [2]:
library(dplyr)
library(tidyverse)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --
v ggplot2 3.3.3     v purrr   0.3.4
v tibble  3.0.5     v stringr 1.4.0
v tidyr   1.1.2     v forcats 0.4.0
v readr   1.3.1
Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'purrr' was built under R version 3.6.3"-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter()  masks stats::filter()
x purrr::flatten() masks jsonlite::flatten()
x dplyr::lag()     masks stats::lag()

In [39]:
pop <- read.csv('./data/Population.csv')
pop <- pop %>% mutate(Population=Population * 1000)

En se basant sur le dataframe construit avec Python ou R (à partir des CSV brutes), calculer la taille de la population mondiale (pour chaque année) ?

In [41]:
pop_mondiale <- pop %>%
filter(Country != 'China') %>%
select(Year,Population) %>% 
group_by(Year) %>%
summarise(total=sum(Population))

In [42]:
pop_mondiale

  Year total
1 2014 7131485000
2 2015 7212776000
3 2016 7293574000
4 2017 7373798000
5 2018 7453133000

Établir la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO et créer une colonne de type booléen nommée "is_cereal" ?

In [7]:
cereals = read.csv("./data/Cereals.csv")
alim = read.csv("./data/Dispo_alim(big_data).csv")

In [8]:
alim_is_cereal <- alim %>%
select(country, feed, food, item_code, item, year, origin) %>%
mutate(is_cereal=is.element(item_code, cereals$Item.Code))

En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

In [182]:
test <- alim_is_cereal %>%
replace_na(list(feed=0, food=0)) %>%
filter(is_cereal==TRUE) %>%
select(feed, food)

sum_feed <- sum(test$feed)
sum_food <- sum(test$food)

total <- sum_feed + sum_food
animal_food <- sum_feed / total
human_food <- sum_food / total
print(c(animal_food, human_food))

[1] 0.000960741 0.999039259

Calculer (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de
protéines ?

In [10]:
alim %>% head()

  country_code country item_code item                year origin
1 1            Armenia 2511      Wheat and products  2014 vegetal
2 1            Armenia 2511      Wheat and products  2015 vegetal
3 1            Armenia 2511      Wheat and products  2016 vegetal
4 1            Armenia 2511      Wheat and products  2017 vegetal
5 1            Armenia 2511      Wheat and products  2018 vegetal
6 1            Armenia 2513      Barley and products 2014 vegetal
  domestic_supply_quantity export_quantity feed food ... other_uses processing
1 639                      1               3.90 110  ... 344        30
2 748                      2               4.02 125  ... 324        59
3 650                      1               4.22 128  ... 312        64
4 547                      1               4.28 105  ... 337        15
5 571                      1               4.40 118  ... 379        16
6 196                      0               0.04 152  ...   6        16
  production protein_supply_quantity_gcapitaday seed stock_variation waste
1 0          16                                 338  33.01            46
2 0          16                                 363  33.07           106
3 0          17                                 350  34.70           -22
4 0          16                                 176  34.36           -42
5 0          16                                 187  34.25           -27
6 5           6                                 190   0.28             0
  losses Tourist.consumption Other.uses..non.food.
1 32      42                 NA
2 33     -63                 NA
3 33      11                 NA
4 25     -34                 NA
5 20      -5                 NA
6 15       0                 NA

In [70]:
food_supply <- merge(x=alim, y=pop, by.x=c("country_code", "year"), by.y=c("Country_code", "Year")) %>%
mutate(food_supply_kcal=food_supply_kcalcapitaday * 365.0 * Population,
       protein_supply_kgprotein=protein_supply_quantity_gcapitaday / 1000 * 365.0 * Population) %>%
replace_na(list(food_supply_kcal=0.0, protein_supply_kgprotein=0.0))
food_supply

      country_code year country item_code item
1     1            2014 Armenia 2656      Beer
2     1            2014 Armenia 2613      Grapefruit and products
3     1            2014 Armenia 2537      Sugar beet
4     1            2014 Armenia 2580      Olive Oil
5     1            2014 Armenia 2547      Peas
6     1            2014 Armenia 2572      Groundnut Oil
7     1            2014 Armenia 2516      Oats
8     1            2014 Armenia 2761      Freshwater Fish
9     1            2014 Armenia 2571      Soyabean Oil
10    1            2014 Armenia 2556      Groundnuts (Shelled Eq)
11    1            2014 Armenia 2602      Onions
12    1            2014 Armenia 2625      Fruits, Other
13    1            2014 Armenia 2577      Palm Oil
14    1            2014 Armenia 2551      Nuts and products
15    1            2014 Armenia 2782      Fish, Liver Oil
16    1            2014 Armenia 2532      Cassava and products
17    1            2014 Armenia 2659      Alcohol, Non-Food
18    1            2014 Armenia 2642      Cloves
19    1            2014 Armenia 2635      Tea (including mate)
20    1            2014 Armenia 2611      Oranges, Mandarines
21    1            2014 Armenia 2549      Pulses, Other and products
22    1            2014 Armenia 2848      Milk - Excluding Butter
23    1            2014 Armenia 2576      Palmkernel Oil
24    1            2014 Armenia 2605      Vegetables, Other
25    1            2014 Armenia 2769      Aquatic Animals, Others
26    1            2014 Armenia 2733      Pigmeat
27    1            2014 Armenia 2546      Beans
28    1            2014 Armenia 2899      Miscellaneous
29    1            2014 Armenia 2805      Rice and products
30    1            2014 Armenia 2775      Aquatic Plants
...   ...          ...  ...     ...       ...
81403 99           2018 Iceland 2615      Bananas
81404 99           2018 Iceland 2558      Rape and Mustardseed
81405 99           2018 Iceland 2601      Tomatoes and products
81406 99           2018 Iceland 2658      Beverages, Alcoholic
81407 99           2018 Iceland 2514      Maize and products
81408 99           2018 Iceland 2619      Dates
81409 99           2018 Iceland 2767      Molluscs, Other
81410 99           2018 Iceland 2576      Palmkernel Oil
81411 99           2018 Iceland 2744      Eggs
81412 99           2018 Iceland 2571      Soyabean Oil
81413 99           2018 Iceland 2620      Grapes and products (excl wine)
81414 99           2018 Iceland 2680      Infant food
81415 99           2018 Iceland 2765      Crustaceans
81416 99           2018 Iceland 2736      Offals, Edible
81417 99           2018 Iceland 2782      Fish, Liver Oil
81418 99           2018 Iceland 2547      Peas
81419 99           2018 Iceland 2635      Tea (including mate)
81420 99           2018 Iceland 2805      Rice and products
81421 99           2018 Iceland 2515      Rye and products
81422 99           2018 Iceland 2899      Miscellaneous
81423 99           2018 Iceland 2764      Marine Fish, Other
81424 99           2018 Iceland 2616      Plantains
81425 99           2018 Iceland 2549      Pulses, Other and products
81426 99           2018 Iceland 2536      Sugar cane
81427 99           2018 Iceland 2617      Apples and products
81428 99           2018 Iceland 2737      Fats, Animals, Raw
81429 99           2018 Iceland 2659      Alcohol, Non-Food
81430 99           2018 Iceland 2535      Yams
81431 99           2018 Iceland 2640      Pepper
81432 99           2018 Iceland 2602      Onions
      origin  domestic_supply_quantity export_quantity feed  food ... seed
1     vegetal  16.00                    3.0             0.00 NA   ...  24.00
2     vegetal   1.00                    0.0             0.00 NA   ...     NA
3     vegetal  54.00                     NA               NA  0   ...  54.00
4     vegetal   0.00                    0.0             0.09 NA   ...     NA
5     vegetal   2.00                     NA               NA  2   ...   0.00
6     vegetal   0.00                    0.0             0.00 NA   ...     NA
7     vegetal   8.00                     NA             0.09  6   ...   7.00
8     animal   12.83                    1.7             0.30 NA   ...  14.04
9     vegetal   1.00                    0.0             0.56 NA   ...     NA
10    vegetal   2.00                    0.0             0.61 NA   ...     NA
11    vegetal  58.00                     NA             0.11 NA   ...  50.00
12    vegetal 188.00                   11.0             0.52 NA   ... 195.00
13    vegetal   1.00                    0.0               NA NA   ...     NA
14    vegetal   3.00                    0.0             0.86 NA   ...   1.00
15    animal    0.00                     NA             0.00 NA   ...     NA
16    vegetal   0.00                     NA               NA  0   ...     NA
17    vegetal   0.00                    1.0               NA NA   ...   1.00
18    vegetal   0.00                    0.0               NA  0   ...     NA
19    vegetal   0.00                    0.0             0.00 NA   ...     NA
20    vegetal  13.00                    0.0             0.01 NA   ...     NA
21    vegetal   4.00                     NA             0.07  1   ...   0.00
22    animal  699.00                   13.0            22.65 26   ... 700.00
23    vegetal   0.00                    0.0               NA NA   ...     NA
24    vegetal 854.00                    7.0             1.33 13   ... 852.00
25    animal    0.00                     NA             0.00 NA   ...     NA
26    animal   26.00                    0.0             5.87 NA   ...  16.00
27    vegetal   5.00                    0.0             0.08  0   ...   5.00
28    vegetal   9.00                    0.0             0.04 NA   ...     NA
29    vegetal  11.00                     NA             0.09  0   ...   0.00
30    animal    0.01                    0.0             0.00 NA   ...   0.00
...   ...     ...                      ...             ...   ...      ...
81403 vegetal  4.00                     0.00            0.02 NA   ...   NA
81404 vegetal  0.00                     0.00            1.00  0   ...   NA
81405 vegetal  4.00                     0.00            0.11 NA   ... 1.00
81406 vegetal  1.00                     2.00            0.00 NA   ... 2.00
81407 vegetal 23.00                       NA              NA 18   ... 0.00
81408 vegetal  0.00                     0.00            0.01 NA   ...   NA
81409 animal   0.07                     0.48            0.00 NA   ... 0.33
81410 vegetal  0.00                       NA              NA NA   ...   NA
81411 animal   5.00                     0.00            3.23 NA   ... 5.00
81412 vegetal  3.00                       NA           14.28 NA   ... 0.00
81413 vegetal  2.00                     0.00            0.06 NA   ... 0.00
81414 vegetal  0.00                       NA            0.02 NA   ...   NA
81415 animal   5.35                    23.66            0.21 NA   ... 5.76
81416 animal   1.00                     2.00            0.27 NA   ... 3.00
81417 animal   0.08                     4.12            0.64 NA   ... 4.00
81418 vegetal  0.00                     0.00            0.00 NA   ...   NA
81419 vegetal  0.00                     0.00            0.00 NA   ...   NA
81420 vegetal  2.00                     0.00            0.08  0   ... 0.00
81421 vegetal  0.00                       NA            0.02  0   ... 0.00
81422 vegetal  7.00                     0.00            0.29 NA   ...   NA
81423 animal   0.00                       NA            0.00  0   ... 0.00
81424 vegetal  3.00                     0.00            0.08 NA   ...   NA
81425 vegetal  0.00                     0.00            0.01  0   ...   NA
81426 vegetal  0.00                       NA            0.00 NA   ...   NA
81427 vegetal  5.00                     0.00            0.15 NA   ...   NA
81428 animal   1.00                     1.00            3.17 NA   ... 1.00
81429 vegetal  1.00                       NA              NA NA   ...   NA
81430 vegetal  0.00                       NA            0.00 NA   ...   NA
81431 vegetal  0.00                       NA            0.02 NA   ...   NA
81432 vegetal  2.00                     0.00            0.03 NA   ...   NA
      stock_variation waste losses Tourist.consumption Other.uses..non.food.
1      0.08            0    NA      7                  NA
2      0.00            0    NA      0                  NA
3        NA            0    NA      0                  NA
4      0.00            0    NA      0                  NA
5        NA            0    NA      0                  NA
6      0.00            0    NA      0                  NA
7      0.19            0     1     -1                  NA
8      1.32           NA    NA     NA                  NA
9      0.00            0    NA      0                  NA
10     0.32            0    NA      0                  NA
11     0.60            0    NA      0                  NA
12     1.20            0    NA      0                  NA
13       NA            0    NA      0                  NA
14     0.21            0    NA     -1                  NA
15     0.00           NA    NA     NA                  NA
16       NA            0    NA     NA                  NA
17       NA            0    NA      0                  NA
18       NA            0    NA      0                  NA
19     0.03            0    NA      0                  NA
20     0.08            0    NA      0                  NA
21     0.75            0    NA      0                  NA
22    21.57            0    NA      0                  NA
23       NA            0    NA      0                  NA
24     7.32            7    NA      0                  NA
25     0.00           NA    NA     NA                  NA
26     2.26            0    NA      3                  NA
27     1.02            0     0      0                  NA
28     0.11            0    NA      0                  NA
29     0.69            0    NA      0                  NA
30     0.00           NA    NA     NA                  NA
...   ...             ...   ...    ...                 ...
81403 0.23             0    NA     NA                   0
81404 1.00             0    NA     NA                   0
81405 0.47             0    NA      0                   0
81406 0.00             0    NA      0                   0
81407   NA             0    NA     -1                  NA
81408 0.02             0    NA     NA                   0
81409 0.02            NA    NA      0                  NA
81410   NA             0    NA     NA                  NA
81411 3.71             0     1      0                   0
81412 0.00             0    NA      0                   0
81413 0.17             0    NA      0                   0
81414 0.12             0    NA      0                   0
81415 4.58            NA    NA      0                  NA
81416 1.43             0    NA     NA                   0
81417 0.00            NA    NA      0                  NA
81418 0.01             0    NA      0                   0
81419 0.11             0    NA      0                   0
81420 0.81             0    NA      0                   0
81421 0.16             0    NA     NA                   0
81422 0.70             0    NA      2                   0
81423 0.00            NA    NA     NA                  NA
81424 0.23             0    NA     NA                   0
81425 0.10             0    NA      0                   0
81426 0.00             0    NA     NA                  NA
81427 0.12             0    NA      0                   0
81428 0.00             0    NA      0                   0
81429   NA             0    NA      0                  NA
81430 0.00             0    NA      0                   0
81431 0.07             0    NA      0                   0
81432 0.20             0    NA     NA                   0
      Country Population food_supply_kcal protein_supply_kgprotein
1     Armenia 2912000     17006080000            0
2     Armenia 2912000      1062880000            0
3     Armenia 2912000               0     54206880
4     Armenia 2912000               0            0
5     Armenia 2912000               0            0
6     Armenia 2912000               0            0
7     Armenia 2912000      1062880000            0
8     Armenia 2912000     13636750400            0
9     Armenia 2912000      1062880000            0
10    Armenia 2912000      2125760000            0
11    Armenia 2912000     61647040000            0
12    Armenia 2912000    180689600000            0
13    Armenia 2912000               0            0
14    Armenia 2912000      3188640000            0
15    Armenia 2912000               0            0
16    Armenia 2912000               0            0
17    Armenia 2912000               0            0
18    Armenia 2912000               0            0
19    Armenia 2912000               0            0
20    Armenia 2912000     13817440000            0
21    Armenia 2912000      3188640000            0
22    Armenia 2912000    688746240000     26572000
23    Armenia 2912000               0            0
24    Armenia 2912000    849241120000            0
25    Armenia 2912000               0            0
26    Armenia 2912000     21257600000            0
27    Armenia 2912000      5314400000            0
28    Armenia 2912000      9565920000            0
29    Armenia 2912000     11691680000            0
30    Armenia 2912000               0            0
...   ...     ...        ...              ...
81403 Iceland 337000     369015000             0
81404 Iceland 337000             0             0
81405 Iceland 337000     492020000             0
81406 Iceland 337000     123005000             0
81407 Iceland 337000             0        492020
81408 Iceland 337000             0             0
81409 Iceland 337000       8610350             0
81410 Iceland 337000             0             0
81411 Iceland 337000     492020000             0
81412 Iceland 337000     246010000             0
81413 Iceland 337000     246010000             0
81414 Iceland 337000             0             0
81415 Iceland 337000     658076750             0
81416 Iceland 337000     123005000             0
81417 Iceland 337000       9840400             0
81418 Iceland 337000             0             0
81419 Iceland 337000             0             0
81420 Iceland 337000     123005000             0
81421 Iceland 337000             0             0
81422 Iceland 337000     861035000             0
81423 Iceland 337000             0             0
81424 Iceland 337000     369015000             0
81425 Iceland 337000             0             0
81426 Iceland 337000             0             0
81427 Iceland 337000     615025000             0
81428 Iceland 337000             0             0
81429 Iceland 337000             0             0
81430 Iceland 337000             0             0
81431 Iceland 337000             0             0
81432 Iceland 337000     246010000             0

A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour
chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous
donnerez en kcal ?

In [71]:
ratio_en_kcal <- food_supply %>%
mutate(food_weight=food_supply_quantity_kgcapitayr * Population) %>%
replace_na(list(food_weight=0.0)) %>%
mutate(kcal_par_kg=food_supply_kcal / food_weight) %>%
replace_na(list(kcal_par_kg=0.0)) %>%
arrange(desc(kcal_par_kg)) %>%
rowwise %>% filter(!any(is.infinite(c_across(where(is.numeric)))))

ratio_en_kcal

      country_code year country         item_code item
1     351          2016 China           2767      Molluscs, Other
2     351          2017 China           2767      Molluscs, Other
3     351          2018 China           2767      Molluscs, Other
4      41          2016 China, mainland 2767      Molluscs, Other
5      41          2017 China, mainland 2767      Molluscs, Other
6      41          2018 China, mainland 2767      Molluscs, Other
7     351          2015 China           2767      Molluscs, Other
8      41          2015 China, mainland 2767      Molluscs, Other
9     351          2014 China           2767      Molluscs, Other
10     41          2014 China, mainland 2767      Molluscs, Other
11    100          2015 India           2601      Tomatoes and products
12    100          2018 India           2601      Tomatoes and products
13    100          2016 India           2601      Tomatoes and products
14    100          2014 India           2601      Tomatoes and products
15    351          2018 China           2601      Tomatoes and products
16    351          2016 China           2601      Tomatoes and products
17    351          2017 China           2601      Tomatoes and products
18     41          2017 China, mainland 2601      Tomatoes and products
19    351          2014 China           2601      Tomatoes and products
20     41          2014 China, mainland 2601      Tomatoes and products
21    100          2017 India           2601      Tomatoes and products
22    351          2015 China           2601      Tomatoes and products
23     41          2015 China, mainland 2601      Tomatoes and products
24     41          2018 China, mainland 2601      Tomatoes and products
25     41          2016 China, mainland 2601      Tomatoes and products
26    100          2018 India           2612      Lemons, Limes and products
27    351          2017 China           2614      Citrus, Other
28    100          2015 India           2612      Lemons, Limes and products
29     41          2017 China, mainland 2614      Citrus, Other
30    351          2016 China           2614      Citrus, Other
...   ...          ...  ...             ...       ...
74545 99           2018 Iceland         2745      Honey
74546 99           2018 Iceland         2766      Cephalopods
74547 99           2018 Iceland         2556      Groundnuts (Shelled Eq)
74548 99           2018 Iceland         2781      Fish, Body Oil
74549 99           2018 Iceland         2579      Sesameseed Oil
74550 99           2018 Iceland         2657      Beverages, Fermented
74551 99           2018 Iceland         2586      Oilcrops Oil, Other
74552 99           2018 Iceland         2513      Barley and products
74553 99           2018 Iceland         2613      Grapefruit and products
74554 99           2018 Iceland         2575      Cottonseed Oil
74555 99           2018 Iceland         2775      Aquatic Plants
74556 99           2018 Iceland         2532      Cassava and products
74557 99           2018 Iceland         2570      Oilcrops, Other
74558 99           2018 Iceland         2562      Palm kernels
74559 99           2018 Iceland         2641      Pimento
74560 99           2018 Iceland         2558      Rape and Mustardseed
74561 99           2018 Iceland         2514      Maize and products
74562 99           2018 Iceland         2619      Dates
74563 99           2018 Iceland         2576      Palmkernel Oil
74564 99           2018 Iceland         2680      Infant food
74565 99           2018 Iceland         2547      Peas
74566 99           2018 Iceland         2635      Tea (including mate)
74567 99           2018 Iceland         2515      Rye and products
74568 99           2018 Iceland         2764      Marine Fish, Other
74569 99           2018 Iceland         2549      Pulses, Other and products
74570 99           2018 Iceland         2536      Sugar cane
74571 99           2018 Iceland         2737      Fats, Animals, Raw
74572 99           2018 Iceland         2659      Alcohol, Non-Food
74573 99           2018 Iceland         2535      Yams
74574 99           2018 Iceland         2640      Pepper
      origin  domestic_supply_quantity export_quantity feed food  ... waste
1     animal  14569.71                 1557.12         0.06 NA    ... NA
2     animal  14488.49                 1378.17         0.06 NA    ... NA
3     animal  14488.49                 1378.17         0.06 NA    ... NA
4     animal  14311.50                 1506.86         0.06 NA    ... NA
5     animal  14215.09                 1342.13         0.06 NA    ... NA
6     animal  14215.09                 1342.13         0.06 NA    ... NA
7     animal  14070.82                 1355.56         0.06 NA    ... NA
8     animal  13813.99                 1290.80         0.06 NA    ... NA
9     animal  13270.70                 1340.14         0.05 NA    ... NA
10    animal  12985.02                 1279.46         0.05 NA    ... NA
11    vegetal 16232.00                  188.00         0.06 NA    ...  0
12    vegetal 19331.00                   68.00         0.07 NA    ...  0
13    vegetal 18500.00                  249.00         0.07 NA    ...  0
14    vegetal 18466.00                  298.00         0.07 NA    ...  0
15    vegetal 58119.00                 3627.00         0.30 NA    ...  6
16    vegetal 53888.00                 3779.00         0.27 NA    ...  0
17    vegetal 56150.00                 3548.00         0.28 NA    ...  0
18    vegetal 55978.00                 3546.00         0.28 NA    ...  0
19    vegetal 49404.00                 3559.00         0.25 NA    ...  5
20    vegetal 49220.00                 3557.00         0.25 NA    ...  5
21    vegetal 20685.00                   35.00         0.08 NA    ...  0
22    vegetal 51901.00                 4011.00         0.26 NA    ...  5
23    vegetal 51727.00                 4008.00         0.27 NA    ...  5
24    vegetal 57932.00                 3626.00         0.31 NA    ...  6
25    vegetal 53707.00                 3777.00         0.28 NA    ...  0
26    vegetal  3133.00                   15.00         0.06 NA    ...  0
27    vegetal  5411.00                    4.00         0.02 NA    ...  0
28    vegetal  2931.00                   19.00         0.06 NA    ...  0
29    vegetal  5344.00                    0.00         0.02 NA    ...  0
30    vegetal  5333.00                    3.00         0.02 NA    ...  0
...   ...     ...                      ...             ...  ...       ...
74545 vegetal  0.00                     0.00           0.00    NA ...  0
74546 animal   1.50                     0.36           0.00    NA ... NA
74547 vegetal  0.00                       NA           1.11    NA ...  0
74548 animal  16.61                    43.56           0.00 16.52 ... NA
74549 vegetal  0.00                       NA           0.07    NA ...  0
74550 vegetal  0.00                     0.00           0.00    NA ...  0
74551 vegetal  0.00                     2.00           1.93    NA ... -1
74552 vegetal 22.00                     0.00             NA 15.00 ...  0
74553 vegetal  0.00                     0.00           0.00    NA ...  0
74554 vegetal  0.00                       NA             NA    NA ...  0
74555 animal  16.25                     5.09           0.00    NA ... NA
74556 vegetal  0.00                     0.00             NA  0.00 ...  0
74557 vegetal  2.00                     0.00           0.00  2.00 ...  0
74558 vegetal  0.00                       NA             NA    NA ...  0
74559 vegetal  0.00                       NA           0.03    NA ...  0
74560 vegetal  0.00                     0.00           1.00  0.00 ...  0
74561 vegetal 23.00                       NA             NA 18.00 ...  0
74562 vegetal  0.00                     0.00           0.01    NA ...  0
74563 vegetal  0.00                       NA             NA    NA ...  0
74564 vegetal  0.00                       NA           0.02    NA ...  0
74565 vegetal  0.00                     0.00           0.00    NA ...  0
74566 vegetal  0.00                     0.00           0.00    NA ...  0
74567 vegetal  0.00                       NA           0.02  0.00 ...  0
74568 animal   0.00                       NA           0.00  0.00 ... NA
74569 vegetal  0.00                     0.00           0.01  0.00 ...  0
74570 vegetal  0.00                       NA           0.00    NA ...  0
74571 animal   1.00                     1.00           3.17    NA ...  0
74572 vegetal  1.00                       NA             NA    NA ...  0
74573 vegetal  0.00                       NA           0.00    NA ...  0
74574 vegetal  0.00                       NA           0.02    NA ...  0
      losses Tourist.consumption Other.uses..non.food. Country
1      0      11.67              NA                    China
2      0      16.67              NA                    China
3      0      16.67              NA                    China
4      0         NA              NA                    China, mainland
5      0         NA              NA                    China, mainland
6      0         NA              NA                    China, mainland
7      0       8.33              NA                    China
8      0         NA              NA                    China, mainland
9      0     -36.67              NA                    China
10     0         NA              NA                    China, mainland
11    NA     -19.00              NA                    India
12    NA       0.00              NA                    India
13    NA       0.00              NA                    India
14    NA      -8.00              NA                    India
15    NA       8.00               1                    China
16    NA       0.00               0                    China
17    NA       5.00               0                    China
18    NA       3.00              NA                    China, mainland
19    NA     -19.00               0                    China
20    NA     -21.00              NA                    China, mainland
21    NA       0.00              NA                    India
22    NA      -5.00               0                    China
23    NA      -8.00              NA                    China, mainland
24    NA       7.00              NA                    China, mainland
25    NA      -3.00              NA                    China, mainland
26    NA       0.00              NA                    India
27    NA       0.00               0                    China
28    NA       0.00              NA                    India
29    NA       0.00              NA                    China, mainland
30    NA       0.00               0                    China
...   ...    ...                 ...                   ...
74545 NA      0                   0                    Iceland
74546 NA      0                  NA                    Iceland
74547 NA      0                   0                    Iceland
74548 NA      0                  NA                    Iceland
74549 NA      0                   0                    Iceland
74550 NA      0                   0                    Iceland
74551 NA      0                   0                    Iceland
74552 NA      1                  NA                    Iceland
74553 NA      0                   0                    Iceland
74554 NA      0                  NA                    Iceland
74555 NA     NA                  NA                    Iceland
74556 NA     NA                  NA                    Iceland
74557 NA      0                  NA                    Iceland
74558 NA      0                  NA                    Iceland
74559 NA      0                   0                    Iceland
74560 NA     NA                   0                    Iceland
74561 NA     -1                  NA                    Iceland
74562 NA     NA                   0                    Iceland
74563 NA     NA                  NA                    Iceland
74564 NA      0                   0                    Iceland
74565 NA      0                   0                    Iceland
74566 NA      0                   0                    Iceland
74567 NA     NA                   0                    Iceland
74568 NA     NA                  NA                    Iceland
74569 NA      0                   0                    Iceland
74570 NA     NA                  NA                    Iceland
74571 NA      0                   0                    Iceland
74572 NA      0                  NA                    Iceland
74573 NA      0                   0                    Iceland
74574 NA      0                   0                    Iceland
      Population food_supply_kcal protein_supply_kgprotein food_weight
1     1445524000 7.687211e+15                0              5782096000
2     1452626000 7.681920e+15                0              5810504000
3     1459378000 7.717627e+15                0              5837512000
4     1414049000 7.386564e+15                0              5656196000
5     1421022000 7.372984e+15                0              5684088000
6     1427648000 7.407363e+15                0              5710592000
7     1438193000 7.386332e+15                0              5752772000
8     1406848000 7.093477e+15                0              5627392000
9     1430671000 6.929882e+15                0              5722684000
10    1399454000 6.632757e+15                0              5597816000
11    1310152000 7.165431e+15                0              6550760000
12    1352642000 8.815269e+15                0              8115852000
13    1324517000 8.254403e+15                0              7947102000
14    1295601000 8.057647e+15                0              7773606000
15    1459378000 2.865514e+16                0             27728182000
16    1445524000 2.530448e+16                0             24573908000
17    1452626000 2.651679e+16                0             26147268000
18    1421022000 2.585637e+16                0             25578396000
19    1430671000 2.296822e+16                0             22890736000
20    1399454000 2.237920e+16                0             22391264000
21    1338677000 9.336496e+15                0              9370739000
22    1438193000 2.422180e+16                0             24449281000
23    1406848000 2.361071e+16                0             23916416000
24    1427648000 2.794093e+16                0             28552960000
25    1414049000 2.466627e+16                0             25452882000
26    1352642000 1.272302e+15     156013728280              1352642000
27    1452626000 2.568860e+15       8483335840              2905252000
28    1310152000 1.152953e+15     141548822080              1310152000
29    1421022000 2.489112e+15                0              2842044000
30    1445524000 2.516202e+15       7914243900              2891048000
...   ...        ...              ...                      ...
74545 337000     0                     0                   1011000
74546 337000     0                     0                         0
74547 337000     0                     0                   4381000
74548 337000     0                     0                         0
74549 337000     0                     0                    337000
74550 337000     0                     0                    674000
74551 337000     0                     0                   5729000
74552 337000     0                492020                         0
74553 337000     0                     0                    337000
74554 337000     0                     0                         0
74555 337000     0                     0                         0
74556 337000     0                     0                         0
74557 337000     0                     0                         0
74558 337000     0                     0                         0
74559 337000     0                     0                    337000
74560 337000     0                     0                   4044000
74561 337000     0                492020                         0
74562 337000     0                     0                   1348000
74563 337000     0                     0                         0
74564 337000     0                     0                   1011000
74565 337000     0                     0                         0
74566 337000     0                     0                         0
74567 337000     0                     0                   2359000
74568 337000     0                     0                         0
74569 337000     0                     0                    337000
74570 337000     0                     0                         0
74571 337000     0                     0                   9773000
74572 337000     0                     0                         0
74573 337000     0                     0                         0
74574 337000     0                     0                    674000
      kcal_par_kg
1     1329485.1
2     1322074.7
3     1322074.7
4     1305924.4
5     1297127.0
6     1297127.0
7     1283960.5
8     1260526.6
9     1210949.6
10    1184883.1
11    1093832.0
12    1086179.2
13    1038668.3
14    1036539.2
15    1033430.3
16    1029729.4
17    1014132.2
18    1010867.5
19    1003385.0
20     999461.2
21     996345.7
22     990695.9
23     987217.6
24     978565.0
25     969095.3
26     940605.0
27     884212.5
28     880015.0
29     875817.5
30     870342.5
...   ...
74545 0
74546 0
74547 0
74548 0
74549 0
74550 0
74551 0
74552 0
74553 0
74554 0
74555 0
74556 0
74557 0
74558 0
74559 0
74560 0
74561 0
74562 0
74563 0
74564 0
74565 0
74566 0
74567 0
74568 0
74569 0
74570 0
74571 0
74572 0
74573 0
74574 0

En suivant la même méthodologie, calculez le pourcentage de protéines de chaque produit (pour
chaque pays).

In [72]:
ratio_protein_percent <- food_supply %>%
mutate(food_weight=food_supply_quantity_kgcapitayr * Population) %>%
replace_na(list(food_weight=0.0)) %>%
mutate(protein_par_kg=protein_supply_kgprotein / food_weight) %>% replace_na(list(protein_par_kg=0.0)) %>%
arrange(desc(protein_par_kg)) %>%
rowwise %>% filter(!any(is.infinite(c_across(where(is.numeric)))))

ratio_protein_percent

      country_code year country                    item_code
1     351          2017 China                      2536
2     351          2016 China                      2536
3     100          2014 India                      2536
4     100          2016 India                      2536
5     100          2018 India                      2536
6     100          2015 India                      2536
7      21          2016 Brazil                     2536
8      21          2017 Brazil                     2536
9     100          2017 India                      2536
10     21          2014 Brazil                     2536
11     21          2015 Brazil                     2536
12    171          2018 Philippines                2536
13    165          2018 Pakistan                   2536
14     21          2018 Brazil                     2536
15    102          2017 Iran (Islamic Republic of) 2536
16    102          2016 Iran (Islamic Republic of) 2536
17    351          2016 China                      2513
18     41          2016 China, mainland            2513
19     28          2018 Myanmar                    2536
20    165          2016 Pakistan                   2536
21     28          2014 Myanmar                    2536
22     28          2016 Myanmar                    2536
23     28          2017 Myanmar                    2536
24     28          2015 Myanmar                    2536
25     16          2014 Bangladesh                 2536
26    165          2014 Pakistan                   2536
27    165          2015 Pakistan                   2536
28     16          2017 Bangladesh                 2536
29    144          2018 Mozambique                 2536
30    150          2018 Netherlands                2555
...   ...          ...  ...                        ...
78449 99           2018 Iceland                    2740
78450 99           2018 Iceland                    2615
78451 99           2018 Iceland                    2558
78452 99           2018 Iceland                    2601
78453 99           2018 Iceland                    2658
78454 99           2018 Iceland                    2619
78455 99           2018 Iceland                    2767
78456 99           2018 Iceland                    2576
78457 99           2018 Iceland                    2744
78458 99           2018 Iceland                    2571
78459 99           2018 Iceland                    2620
78460 99           2018 Iceland                    2680
78461 99           2018 Iceland                    2765
78462 99           2018 Iceland                    2736
78463 99           2018 Iceland                    2782
78464 99           2018 Iceland                    2547
78465 99           2018 Iceland                    2635
78466 99           2018 Iceland                    2805
78467 99           2018 Iceland                    2515
78468 99           2018 Iceland                    2899
78469 99           2018 Iceland                    2764
78470 99           2018 Iceland                    2616
78471 99           2018 Iceland                    2549
78472 99           2018 Iceland                    2536
78473 99           2018 Iceland                    2617
78474 99           2018 Iceland                    2737
78475 99           2018 Iceland                    2659
78476 99           2018 Iceland                    2535
78477 99           2018 Iceland                    2640
78478 99           2018 Iceland                    2602
      item                            origin  domestic_supply_quantity
1     Sugar cane                      vegetal 105003
2     Sugar cane                      vegetal 103867
3     Sugar cane                      vegetal 352142
4     Sugar cane                      vegetal 348448
5     Sugar cane                      vegetal 379905
6     Sugar cane                      vegetal 362333
7     Sugar cane                      vegetal 768594
8     Sugar cane                      vegetal 758646
9     Sugar cane                      vegetal 306069
10    Sugar cane                      vegetal 736108
11    Sugar cane                      vegetal 750290
12    Sugar cane                      vegetal  24731
13    Sugar cane                      vegetal  67174
14    Sugar cane                      vegetal 746828
15    Sugar cane                      vegetal   9467
16    Sugar cane                      vegetal   7480
17    Barley and products             vegetal   6498
18    Barley and products             vegetal   6369
19    Sugar cane                      vegetal  11261
20    Sugar cane                      vegetal  75481
21    Sugar cane                      vegetal  11125
22    Sugar cane                      vegetal  10292
23    Sugar cane                      vegetal  10249
24    Sugar cane                      vegetal  10137
25    Sugar cane                      vegetal   4508
26    Sugar cane                      vegetal  62825
27    Sugar cane                      vegetal  65482
28    Sugar cane                      vegetal   3863
29    Sugar cane                      vegetal   3650
30    Soyabeans                       vegetal   3208
...   ...                             ...     ...
78449 Butter, Ghee                    animal  2.00
78450 Bananas                         vegetal 4.00
78451 Rape and Mustardseed            vegetal 0.00
78452 Tomatoes and products           vegetal 4.00
78453 Beverages, Alcoholic            vegetal 1.00
78454 Dates                           vegetal 0.00
78455 Molluscs, Other                 animal  0.07
78456 Palmkernel Oil                  vegetal 0.00
78457 Eggs                            animal  5.00
78458 Soyabean Oil                    vegetal 3.00
78459 Grapes and products (excl wine) vegetal 2.00
78460 Infant food                     vegetal 0.00
78461 Crustaceans                     animal  5.35
78462 Offals, Edible                  animal  1.00
78463 Fish, Liver Oil                 animal  0.08
78464 Peas                            vegetal 0.00
78465 Tea (including mate)            vegetal 0.00
78466 Rice and products               vegetal 2.00
78467 Rye and products                vegetal 0.00
78468 Miscellaneous                   vegetal 7.00
78469 Marine Fish, Other              animal  0.00
78470 Plantains                       vegetal 3.00
78471 Pulses, Other and products      vegetal 0.00
78472 Sugar cane                      vegetal 0.00
78473 Apples and products             vegetal 5.00
78474 Fats, Animals, Raw              animal  1.00
78475 Alcohol, Non-Food               vegetal 1.00
78476 Yams                            vegetal 0.00
78477 Pepper                          vegetal 0.00
78478 Onions                          vegetal 2.00
      export_quantity feed  food  ... waste losses Tourist.consumption
1        2            0.00  11806 ...    0     NA     0
2        3            0.00  13593 ...    0     NA     0
3        0            0.06   9855 ...    0  16760    NA
4        0            0.06  19058 ...    0  16252    NA
5        0            0.07  17168 ...    0  15591    NA
6        0            0.07  19281 ...    0  16976    NA
7        0            0.09   7009 ...    0     NA    NA
8        0            0.09   6835 ...    0     NA    NA
9        0            0.07  17254 ...    0  14300    NA
10       0            0.09   6945 ...    0     NA    NA
11       0            0.10   7559 ...    0     NA    NA
12       0            0.00   1787 ...    0    897     0
13       0            0.02      0 ...    0   6871     0
14       0            0.12  11395 ...    0     NA    NA
15      NA            0.00     NA ...    0     NA    NA
16      NA            0.00     NA ...    0     NA    NA
17     523            0.00     84 ...    0     40  -553
18     521            0.00     76 ...    0     40  -554
19     136            0.02     NA ...    0    320    NA
20       2            0.09      0 ...    0   7721     0
21       3            0.01     NA ...    0    295    NA
22     145            0.01     NA ...    0    309    NA
23     121            0.01     NA ...    0    311    NA
24       5            0.01     NA ...    0    308    NA
25       0            0.01    146 ...    0     NA     0
26       1            0.09      0 ...    0   3330     0
27       1            0.09      0 ...    0   6698     0
28       0            0.01     40 ...    0     NA     0
29      NA            0.00    105 ...    0     NA     0
30    1133            0.01     NA ... -189     NA     0
...   ...             ...   ...       ...   ...    ...
78449  0.00           13.72 NA    ...  0    NA     NA
78450  0.00            0.02 NA    ...  0    NA     NA
78451  0.00            1.00  0    ...  0    NA     NA
78452  0.00            0.11 NA    ...  0    NA      0
78453  2.00            0.00 NA    ...  0    NA      0
78454  0.00            0.01 NA    ...  0    NA     NA
78455  0.48            0.00 NA    ... NA    NA      0
78456    NA              NA NA    ...  0    NA     NA
78457  0.00            3.23 NA    ...  0     1      0
78458    NA           14.28 NA    ...  0    NA      0
78459  0.00            0.06 NA    ...  0    NA      0
78460    NA            0.02 NA    ...  0    NA      0
78461 23.66            0.21 NA    ... NA    NA      0
78462  2.00            0.27 NA    ...  0    NA     NA
78463  4.12            0.64 NA    ... NA    NA      0
78464  0.00            0.00 NA    ...  0    NA      0
78465  0.00            0.00 NA    ...  0    NA      0
78466  0.00            0.08  0    ...  0    NA      0
78467    NA            0.02  0    ...  0    NA     NA
78468  0.00            0.29 NA    ...  0    NA      2
78469    NA            0.00  0    ... NA    NA     NA
78470  0.00            0.08 NA    ...  0    NA     NA
78471  0.00            0.01  0    ...  0    NA      0
78472    NA            0.00 NA    ...  0    NA     NA
78473  0.00            0.15 NA    ...  0    NA      0
78474  1.00            3.17 NA    ...  0    NA      0
78475    NA              NA NA    ...  0    NA      0
78476    NA            0.00 NA    ...  0    NA      0
78477    NA            0.02 NA    ...  0    NA      0
78478  0.00            0.03 NA    ...  0    NA     NA
      Other.uses..non.food. Country                    Population
1      0                    China                      1452626000
2      0                    China                      1445524000
3     NA                    India                      1295601000
4     NA                    India                      1324517000
5     NA                    India                      1352642000
6     NA                    India                      1310152000
7     NA                    Brazil                      206163000
8     NA                    Brazil                      207834000
9     NA                    India                      1338677000
10    NA                    Brazil                      202764000
11    NA                    Brazil                      204472000
12    NA                    Philippines                 106651000
13    NA                    Pakistan                    212228000
14    NA                    Brazil                      209469000
15    NA                    Iran (Islamic Republic of)   80674000
16    NA                    Iran (Islamic Republic of)   79564000
17     0                    China                      1445524000
18    NA                    China, mainland            1414049000
19    NA                    Myanmar                      53708000
20    NA                    Pakistan                    203631000
21    NA                    Myanmar                      52281000
22    NA                    Myanmar                      53045000
23    NA                    Myanmar                      53383000
24    NA                    Myanmar                      52681000
25    NA                    Bangladesh                  154517000
26    NA                    Pakistan                    195305000
27    NA                    Pakistan                    199427000
28    NA                    Bangladesh                  159685000
29    NA                    Mozambique                   29496000
30    NA                    Netherlands                  17060000
...   ...                   ...                        ...
78449  0                    Iceland                    337000
78450  0                    Iceland                    337000
78451  0                    Iceland                    337000
78452  0                    Iceland                    337000
78453  0                    Iceland                    337000
78454  0                    Iceland                    337000
78455 NA                    Iceland                    337000
78456 NA                    Iceland                    337000
78457  0                    Iceland                    337000
78458  0                    Iceland                    337000
78459  0                    Iceland                    337000
78460  0                    Iceland                    337000
78461 NA                    Iceland                    337000
78462  0                    Iceland                    337000
78463 NA                    Iceland                    337000
78464  0                    Iceland                    337000
78465  0                    Iceland                    337000
78466  0                    Iceland                    337000
78467  0                    Iceland                    337000
78468  0                    Iceland                    337000
78469 NA                    Iceland                    337000
78470  0                    Iceland                    337000
78471  0                    Iceland                    337000
78472 NA                    Iceland                    337000
78473  0                    Iceland                    337000
78474  0                    Iceland                    337000
78475 NA                    Iceland                    337000
78476  0                    Iceland                    337000
78477  0                    Iceland                    337000
78478  0                    Iceland                    337000
      food_supply_kcal protein_supply_kgprotein food_weight protein_par_kg
1     4.453751e+13     4.659790e+13              1452626000 32078.390
2     5.698256e+13     4.484527e+13              1445524000 31023.540
3     7.208802e+15     1.426732e+14             11660409000 12235.692
4     7.292340e+15     1.399893e+14             11920653000 11743.429
5     8.119626e+15     1.587371e+14             13526420000 11735.334
6     7.500653e+15     1.442086e+14             13101520000 11007.013
7     2.484738e+14     2.563066e+13              2680119000  9563.253
8     2.496533e+14     2.579827e+13              2701842000  9548.400
9     8.228312e+15     1.222603e+14             13386770000  9132.921
10    2.499279e+14     2.328067e+13              2635932000  8832.045
11    2.708405e+14     2.209310e+13              2862608000  7717.821
12    4.165255e+12     8.022592e+11               106651000  7522.285
13    6.677330e+13     4.347856e+12               636684000  6828.907
14    3.484873e+14     1.959067e+13              3560973000  5501.495
15    2.944601e+12     2.635418e+11                80674000  3266.750
16    2.119983e+12     2.034022e+11                79564000  2556.460
17    1.783343e+14     3.042235e+12              1445524000  2104.590
18    1.615480e+14     2.926961e+12              1414049000  2069.915
19    2.979720e+12     1.851739e+11               107416000  1723.895
20    2.386586e+14     4.520837e+12              2647203000  1707.779
21    2.118165e+12     1.784792e+11               104562000  1706.922
22    2.458901e+12     1.671278e+11               106090000  1575.340
23    2.591478e+12     1.676082e+11               106766000  1569.865
24    2.365113e+12     1.634236e+11               105362000  1551.068
25    1.432527e+13     2.315167e+11               154517000  1498.325
26    2.392369e+14     3.781027e+12              2734270000  1382.829
27    2.507645e+14     3.793059e+12              2791978000  1358.556
28    1.270614e+13     2.100009e+11               159685000  1315.095
29    1.937887e+11     3.730433e+10                29496000  1264.725
30    1.681263e+11     2.098465e+10                17060000  1230.050
...   ...              ...                      ...         ...
78449 246010000        0                        40777000    0
78450 369015000        0                         5729000    0
78451         0        0                         4044000    0
78452 492020000        0                         3370000    0
78453 123005000        0                         4718000    0
78454         0        0                         1348000    0
78455   8610350        0                               0    0
78456         0        0                               0    0
78457 492020000        0                        15502000    0
78458 246010000        0                        42462000    0
78459 246010000        0                         6066000    0
78460         0        0                         1011000    0
78461 658076750        0                         7751000    0
78462 123005000        0                         6066000    0
78463   9840400        0                         2022000    0
78464         0        0                               0    0
78465         0        0                               0    0
78466 123005000        0                        14154000    0
78467         0        0                         2359000    0
78468 861035000        0                         8088000    0
78469         0        0                               0    0
78470 369015000        0                         7077000    0
78471         0        0                          337000    0
78472         0        0                               0    0
78473 615025000        0                         7751000    0
78474         0        0                         9773000    0
78475         0        0                               0    0
78476         0        0                               0    0
78477         0        0                          674000    0
78478 246010000        0                         2022000    0

Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids ?

In [74]:
ratio_en_kcal %>%
arrange(desc(kcal_par_kg)) %>%
head(20)

   country_code year country         item_code item                  origin
1  351          2016 China           2767      Molluscs, Other       animal
2  351          2017 China           2767      Molluscs, Other       animal
3  351          2018 China           2767      Molluscs, Other       animal
4   41          2016 China, mainland 2767      Molluscs, Other       animal
5   41          2017 China, mainland 2767      Molluscs, Other       animal
6   41          2018 China, mainland 2767      Molluscs, Other       animal
7  351          2015 China           2767      Molluscs, Other       animal
8   41          2015 China, mainland 2767      Molluscs, Other       animal
9  351          2014 China           2767      Molluscs, Other       animal
10  41          2014 China, mainland 2767      Molluscs, Other       animal
11 100          2015 India           2601      Tomatoes and products vegetal
12 100          2018 India           2601      Tomatoes and products vegetal
13 100          2016 India           2601      Tomatoes and products vegetal
14 100          2014 India           2601      Tomatoes and products vegetal
15 351          2018 China           2601      Tomatoes and products vegetal
16 351          2016 China           2601      Tomatoes and products vegetal
17 351          2017 China           2601      Tomatoes and products vegetal
18  41          2017 China, mainland 2601      Tomatoes and products vegetal
19 351          2014 China           2601      Tomatoes and products vegetal
20  41          2014 China, mainland 2601      Tomatoes and products vegetal
   domestic_supply_quantity export_quantity feed food ... waste losses
1  14569.71                 1557.12         0.06 NA   ... NA     0
2  14488.49                 1378.17         0.06 NA   ... NA     0
3  14488.49                 1378.17         0.06 NA   ... NA     0
4  14311.50                 1506.86         0.06 NA   ... NA     0
5  14215.09                 1342.13         0.06 NA   ... NA     0
6  14215.09                 1342.13         0.06 NA   ... NA     0
7  14070.82                 1355.56         0.06 NA   ... NA     0
8  13813.99                 1290.80         0.06 NA   ... NA     0
9  13270.70                 1340.14         0.05 NA   ... NA     0
10 12985.02                 1279.46         0.05 NA   ... NA     0
11 16232.00                  188.00         0.06 NA   ...  0    NA
12 19331.00                   68.00         0.07 NA   ...  0    NA
13 18500.00                  249.00         0.07 NA   ...  0    NA
14 18466.00                  298.00         0.07 NA   ...  0    NA
15 58119.00                 3627.00         0.30 NA   ...  6    NA
16 53888.00                 3779.00         0.27 NA   ...  0    NA
17 56150.00                 3548.00         0.28 NA   ...  0    NA
18 55978.00                 3546.00         0.28 NA   ...  0    NA
19 49404.00                 3559.00         0.25 NA   ...  5    NA
20 49220.00                 3557.00         0.25 NA   ...  5    NA
   Tourist.consumption Other.uses..non.food. Country         Population
1   11.67              NA                    China           1445524000
2   16.67              NA                    China           1452626000
3   16.67              NA                    China           1459378000
4      NA              NA                    China, mainland 1414049000
5      NA              NA                    China, mainland 1421022000
6      NA              NA                    China, mainland 1427648000
7    8.33              NA                    China           1438193000
8      NA              NA                    China, mainland 1406848000
9  -36.67              NA                    China           1430671000
10     NA              NA                    China, mainland 1399454000
11 -19.00              NA                    India           1310152000
12   0.00              NA                    India           1352642000
13   0.00              NA                    India           1324517000
14  -8.00              NA                    India           1295601000
15   8.00               1                    China           1459378000
16   0.00               0                    China           1445524000
17   5.00               0                    China           1452626000
18   3.00              NA                    China, mainland 1421022000
19 -19.00               0                    China           1430671000
20 -21.00              NA                    China, mainland 1399454000
   food_supply_kcal protein_supply_kgprotein food_weight kcal_par_kg
1  7.687211e+15     0                         5782096000 1329485.1
2  7.681920e+15     0                         5810504000 1322074.7
3  7.717627e+15     0                         5837512000 1322074.7
4  7.386564e+15     0                         5656196000 1305924.4
5  7.372984e+15     0                         5684088000 1297127.0
6  7.407363e+15     0                         5710592000 1297127.0
7  7.386332e+15     0                         5752772000 1283960.5
8  7.093477e+15     0                         5627392000 1260526.6
9  6.929882e+15     0                         5722684000 1210949.6
10 6.632757e+15     0                         5597816000 1184883.1
11 7.165431e+15     0                         6550760000 1093832.0
12 8.815269e+15     0                         8115852000 1086179.2
13 8.254403e+15     0                         7947102000 1038668.3
14 8.057647e+15     0                         7773606000 1036539.2
15 2.865514e+16     0                        27728182000 1033430.3
16 2.530448e+16     0                        24573908000 1029729.4
17 2.651679e+16     0                        26147268000 1014132.2
18 2.585637e+16     0                        25578396000 1010867.5
19 2.296822e+16     0                        22890736000 1003385.0
20 2.237920e+16     0                        22391264000  999461.2

Citez 5 aliments parmi les 20 aliments les plus riches en protéines ?

In [75]:
ratio_protein_percent %>%
arrange(desc(protein_par_kg)) %>%
head(5)

  country_code year country item_code item       origin
1 351          2017 China   2536      Sugar cane vegetal
2 351          2016 China   2536      Sugar cane vegetal
3 100          2014 India   2536      Sugar cane vegetal
4 100          2016 India   2536      Sugar cane vegetal
5 100          2018 India   2536      Sugar cane vegetal
  domestic_supply_quantity export_quantity feed food  ... waste losses
1 105003                   2               0.00 11806 ... 0        NA
2 103867                   3               0.00 13593 ... 0        NA
3 352142                   0               0.06  9855 ... 0     16760
4 348448                   0               0.06 19058 ... 0     16252
5 379905                   0               0.07 17168 ... 0     15591
  Tourist.consumption Other.uses..non.food. Country Population food_supply_kcal
1  0                   0                    China   1452626000 4.453751e+13
2  0                   0                    China   1445524000 5.698256e+13
3 NA                  NA                    India   1295601000 7.208802e+15
4 NA                  NA                    India   1324517000 7.292340e+15
5 NA                  NA                    India   1352642000 8.119626e+15
  protein_supply_kgprotein food_weight protein_par_kg
1 4.659790e+13              1452626000 32078.39
2 4.484527e+13              1445524000 31023.54
3 1.426732e+14             11660409000 12235.69
4 1.399893e+14             11920653000 11743.43
5 1.587371e+14             13526420000 11735.33

Calculer, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en
kcal et en Kg protéines pour chaque année et tracer la viz correspondante ?

In [82]:
ratio_en_kcal %>%
mutate(domestic_supply_kcal=domestic_supply_quantity * kcal_par_kg) %>%
filter(origin=="vegetal") %>%
select(year, domestic_supply_kcal) %>%
group_by(year) %>%
summarise(domestic_supply_kcal=sum(domestic_supply_kcal))

  year domestic_supply_kcal
1 2014 1.781119e+12
2 2015 1.828769e+12
3 2016 1.864717e+12
4 2017 1.861991e+12
5 2018 1.920740e+12

In [83]:
ratio_protein_percent %>%
mutate(domestic_supply_prot=domestic_supply_quantity * protein_par_kg) %>%
filter(origin=="vegetal") %>%
select(year, domestic_supply_prot) %>%
group_by(year) %>%
summarise(domestic_supply_prot=sum(domestic_supply_prot))

  year domestic_supply_prot
1 2014 11240785568
2 2015 10266917852
3 2016 15236272606
4 2017 13974906770
5 2018  9764290778

Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits
végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de
protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits
végétaux (Food), la nourriture végétale destinée aux animaux (Feed) et les pertes de produits
végétaux (Waste) étaient utilisés pour de la nourriture ? Donnez les résultats en termes de
calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population
mondiale.

Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les
résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en
pourcentage de la population mondiale.

Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [110]:
sous_nut <- read.csv("./data/Sous_nutrition.csv")

In [111]:
pop_mondiale

  Year total
1 2014 7131485000
2 2015 7212776000
3 2016 7293574000
4 2017 7373798000
5 2018 7453133000

In [113]:
sous_nut$Year = strtoi(substr(sous_nut$Year, 1, 4)) + 1
sous_nut$Population <- replace_na(as.numeric(as.character(sous_nut$Population)), 0.0) * 1e+6
sous_nut

Warning message in replace_na(as.numeric(as.character(sous_nut$Population)), 0):
"NAs introduits lors de la conversion automatique"

     Country                            Country_code Year Population
1    Afghanistan                        2            2014  8800000
2    Afghanistan                        2            2015  8900000
3    Afghanistan                        2            2016  9700000
4    Afghanistan                        2            2017 10500000
5    Afghanistan                        2            2018 11100000
6    Albania                            3            2014   100000
7    Albania                            3            2015   100000
8    Albania                            3            2016   100000
9    Albania                            3            2017   100000
10   Albania                            3            2018   100000
11   Algeria                            4            2014  1300000
12   Algeria                            4            2015  1300000
13   Algeria                            4            2016  1300000
14   Algeria                            4            2017  1300000
15   Algeria                            4            2018  1200000
16   American Samoa                     5            2014        0
17   American Samoa                     5            2015        0
18   American Samoa                     5            2016        0
19   American Samoa                     5            2017        0
20   American Samoa                     5            2018        0
21   Andorra                            6            2014        0
22   Andorra                            6            2015        0
23   Andorra                            6            2016        0
24   Andorra                            6            2017        0
25   Andorra                            6            2018        0
26   Angola                             7            2014  6200000
27   Angola                             7            2015  5300000
28   Angola                             7            2016  5600000
29   Angola                             7            2017  5800000
30   Angola                             7            2018  5700000
...  ...                                ...          ...  ...
991  Vanuatu                            155          2014       0
992  Vanuatu                            155          2015       0
993  Vanuatu                            155          2016       0
994  Vanuatu                            155          2017       0
995  Vanuatu                            155          2018       0
996  Venezuela (Bolivarian Republic of) 236          2014 2600000
997  Venezuela (Bolivarian Republic of) 236          2015 4200000
998  Venezuela (Bolivarian Republic of) 236          2016 6200000
999  Venezuela (Bolivarian Republic of) 236          2017 8000000
1000 Venezuela (Bolivarian Republic of) 236          2018 9100000
1001 Viet Nam                           237          2014 8300000
1002 Viet Nam                           237          2015 7600000
1003 Viet Nam                           237          2016 7100000
1004 Viet Nam                           237          2017 6500000
1005 Viet Nam                           237          2018 6100000
1006 Yemen                              249          2014       0
1007 Yemen                              249          2015       0
1008 Yemen                              249          2016       0
1009 Yemen                              249          2017       0
1010 Yemen                              249          2018       0
1011 Zambia                             251          2014       0
1012 Zambia                             251          2015       0
1013 Zambia                             251          2016       0
1014 Zambia                             251          2017       0
1015 Zambia                             251          2018       0
1016 Zimbabwe                           181          2014       0
1017 Zimbabwe                           181          2015       0
1018 Zimbabwe                           181          2016       0
1019 Zimbabwe                           181          2017       0
1020 Zimbabwe                           181          2018       0

In [122]:
pop_mondiale_sous_nut <- sous_nut %>%
filter(Country != 'China') %>%
select(Year,Population) %>% 
group_by(Year) %>%
summarise(total=sum(Population)) %>%
mutate(sous_nut_pourcent=total/pop_mondiale$total*100)

In [123]:
pop_mondiale_sous_nut

  Year total     sous_nut_pourcent
1 2014 523500000 7.340687
2 2015 524700000 7.274592
3 2016 528600000 7.247476
4 2017 535700000 7.264913
5 2018 544200000 7.301627

Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans
lesquels la FAO recense des personnes en sous-nutrition.

In [128]:
country_in_sounut <- sous_nut %>%
filter(Population!=0) %>%
select(Country, Country_code) %>%
unique()

country_in_sounut

    Country                               Country_code
1   Afghanistan                             2
6   Albania                                 3
11  Algeria                                 4
16  Angola                                  7
21  Argentina                               9
25  Bangladesh                             16
30  Benin                                  53
35  Bolivia (Plurinational State of)       19
40  Botswana                               20
45  Bulgaria                               27
50  Burkina Faso                          233
55  Cabo Verde                             35
56  Cambodia                              115
61  Cameroon                               32
66  Chad                                   39
71  Chile                                  40
76  China, Taiwan Province of             214
81  Colombia                               44
86  Congo                                  46
91  Costa Rica                             48
96  CÃ´te d'Ivoire                        107
101 Democratic People's Republic of Korea 116
106 Dominican Republic                     56
111 Ecuador                                58
116 Egypt                                  59
121 El Salvador                            60
126 Eswatini                              209
131 Ethiopia                              238
136 Gabon                                  74
141 Gambia                                 75
... ...                                   ...
276 Namibia                               147
281 Nepal                                 149
286 Nicaragua                             157
291 Nigeria                               159
296 Oman                                  221
301 Pakistan                              165
306 Panama                                166
311 Paraguay                              169
316 Peru                                  170
321 Philippines                           171
326 Rwanda                                184
331 Saudi Arabia                          194
336 Senegal                               195
341 Serbia                                272
346 Sierra Leone                          197
351 Slovakia                              199
356 South Africa                          202
361 Sri Lanka                              38
366 Sudan                                 276
371 Thailand                              216
376 Timor-Leste                           176
381 Togo                                  217
386 Tunisia                               222
387 Turkmenistan                          213
392 Ukraine                               230
395 United Arab Emirates                  225
400 United Republic of Tanzania           215
405 Uzbekistan                            235
410 Venezuela (Bolivarian Republic of)    236
415 Viet Nam                              237

Repérer les 15 produits les plus exportés par ce groupe de pays.

In [144]:
alim %>%
mutate(is_in_sousnut=is.element(country_code, country_in_sounut$Country_code)) %>%
filter(is_in_sousnut==TRUE) %>%
select(item_code, item, export_quantity) %>%
group_by(item_code, item) %>%
replace_na(list(export_quantity=0)) %>%
summarise(total_exported_quantity=sum(export_quantity)) %>%
arrange(desc(total_exported_quantity)) %>%
head(15)

`summarise()` has grouped output by 'item_code'. You can override using the `.groups` argument.

   item_code item                    total_exported_quantity
1  2514      Maize and products      265658.00
2  2805      Rice and products       261853.00
3  2577      Palm Oil                213987.00
4  2511      Wheat and products      210388.00
5  2532      Cassava and products    188779.00
6  2542      Sugar (Raw Equivalent)  126696.00
7  2615      Bananas                  90791.00
8  2555      Soyabeans                81106.00
9  2605      Vegetables, Other        72701.00
10 2625      Fruits, Other            70957.00
11 2763      Pelagic Fish             58403.66
12 2513      Barley and products      45450.00
13 2618      Pineapples and products  37952.00
14 2586      Oilcrops Oil, Other      35538.00
15 2848      Milk - Excluding Butter  35002.00

Parmi les données des bilans alimentaires au niveau mondial, sélectionner les 200 plus grandes
importations de ces produits (1 importation = une quantité d'un produit donné importée par un
pays donné sur l'année choisie)

In [145]:
alim %>%
arrange(desc(import_quantity)) %>%
head(200)

    country_code country                item_code item                    year
1    86          Grenada                2605      Vegetables, Other       2016
2    86          Grenada                2605      Vegetables, Other       2018
3   273          Montenegro             2848      Milk - Excluding Butter 2018
4    67          Finland                2848      Milk - Excluding Butter 2014
5   273          Montenegro             2848      Milk - Excluding Butter 2016
6   273          Montenegro             2848      Milk - Excluding Butter 2017
7   104          Ireland                2848      Milk - Excluding Butter 2018
8    67          Finland                2848      Milk - Excluding Butter 2016
9    67          Finland                2848      Milk - Excluding Butter 2017
10   67          Finland                2848      Milk - Excluding Butter 2018
11   67          Finland                2848      Milk - Excluding Butter 2015
12  273          Montenegro             2848      Milk - Excluding Butter 2015
13  273          Montenegro             2848      Milk - Excluding Butter 2014
14    3          Albania                2848      Milk - Excluding Butter 2017
15  104          Ireland                2848      Milk - Excluding Butter 2017
16    3          Albania                2848      Milk - Excluding Butter 2016
17    3          Albania                2848      Milk - Excluding Butter 2018
18   41          China, mainland        2605      Vegetables, Other       2018
19   41          China, mainland        2605      Vegetables, Other       2016
20   41          China, mainland        2605      Vegetables, Other       2017
21  150          Netherlands            2848      Milk - Excluding Butter 2016
22  351          China                  2605      Vegetables, Other       2018
23   41          China, mainland        2605      Vegetables, Other       2015
24  351          China                  2605      Vegetables, Other       2016
25  351          China                  2605      Vegetables, Other       2017
26  351          China                  2605      Vegetables, Other       2015
27  150          Netherlands            2848      Milk - Excluding Butter 2015
28    3          Albania                2848      Milk - Excluding Butter 2015
29   41          China, mainland        2605      Vegetables, Other       2014
30    3          Albania                2848      Milk - Excluding Butter 2014
... ...          ...                    ...       ...                     ...
171 101          Indonesia              2805      Rice and products       2016
172 113          Kyrgyzstan             2848      Milk - Excluding Butter 2014
173 113          Kyrgyzstan             2848      Milk - Excluding Butter 2018
174 101          Indonesia              2805      Rice and products       2017
175 101          Indonesia              2805      Rice and products       2018
176 107          CÃ´te d'Ivoire         2535      Yams                    2018
177  28          Myanmar                2805      Rice and products       2016
178   7          Angola                 2532      Cassava and products    2018
179  80          Bosnia and Herzegovina 2848      Milk - Excluding Butter 2016
180   9          Argentina              2848      Milk - Excluding Butter 2015
181  80          Bosnia and Herzegovina 2848      Milk - Excluding Butter 2018
182 113          Kyrgyzstan             2848      Milk - Excluding Butter 2017
183   7          Angola                 2532      Cassava and products    2015
184 213          Turkmenistan           2511      Wheat and products      2014
185 107          CÃ´te d'Ivoire         2535      Yams                    2017
186 106          Italy                  2848      Milk - Excluding Butter 2014
187 171          Philippines            2805      Rice and products       2015
188 106          Italy                  2848      Milk - Excluding Butter 2018
189   7          Angola                 2532      Cassava and products    2016
190 213          Turkmenistan           2511      Wheat and products      2016
191 154          North Macedonia        2605      Vegetables, Other       2015
192 213          Turkmenistan           2511      Wheat and products      2015
193   7          Angola                 2532      Cassava and products    2017
194   4          Algeria                2511      Wheat and products      2016
195  28          Myanmar                2805      Rice and products       2017
196  80          Bosnia and Herzegovina 2848      Milk - Excluding Butter 2015
197 107          CÃ´te d'Ivoire         2535      Yams                    2016
198 143          Morocco                2511      Wheat and products      2016
199   7          Angola                 2532      Cassava and products    2014
200 106          Italy                  2848      Milk - Excluding Butter 2015
    origin  domestic_supply_quantity export_quantity feed  food  ... other_uses
1   vegetal     47                      0             1.59    NA ...    1
2   vegetal     46                      0             1.63    NA ...    1
3   animal     255                      0            36.00     0 ...   78
4   animal    2783                    378            35.36    16 ...  761
5   animal     256                      0            34.36    17 ...   80
6   animal     245                      1            34.65     6 ...   77
7   animal    6795                   2549            33.05     0 ... 1571
8   animal    3049                    198            34.16    14 ...  817
9   animal    2996                    165            33.77    17 ...  755
10  animal    2958                    187            33.52    14 ...  748
11  animal    3009                    238            34.76    33 ...  812
12  animal     269                      1            33.14    33 ...   75
13  animal     240                      1            32.90     8 ...   69
14  animal    1174                      0            39.76    70 ...   18
15  animal    6227                   2658            29.44     0 ... 1377
16  animal    1165                      0            39.06    75 ...   19
17  animal    1162                     NA            38.91    76 ...   18
18  vegetal 528601                   9834             1.86 36092 ...  441
19  vegetal 523372                   8554             1.84 36189 ...  291
20  vegetal 525026                   9456             1.84 36079 ...  306
21  animal    9574                   8784            28.64   575 ... 3766
22  vegetal 532348                   9989             1.84 36092 ... 1756
23  vegetal 515015                   8557             1.82 36108 ...  285
24  vegetal 527066                   8659             1.82 36189 ... 1738
25  vegetal 528869                   9571             1.82 36079 ... 1746
26  vegetal 518610                   8665             1.79 36108 ... 1591
27  animal    8765                   7912            26.61    39 ... 3550
28  animal    1147                      0            34.64    75 ...   16
29  vegetal 491265                   8399             1.73 34306 ...  292
30  animal    1146                      0            33.98   100 ...   13
... ...     ...                      ...             ...   ...       ...
171 vegetal 71962                      23             4.10 3192  ... 1973
172 animal   1406                      20            19.02  197  ...   11
173 animal   1564                      27            18.92  221  ...   11
174 vegetal 72729                      22             4.08 3241  ...  452
175 vegetal 73805                      29             4.07 3528  ... 3468
176 vegetal  7280                      13             1.07  390  ...    0
177 vegetal 25224                     488             5.37 8448  ...   14
178 vegetal  8731                       0             0.61 1308  ...    0
179 animal    770                      58            18.49   45  ...  113
180 animal  10003                    1823            16.72  600  ...   12
181 animal    749                      66            18.46   41  ...  126
182 animal   1518                      42            18.65  211  ...   30
183 vegetal  7727                      NA             0.61 1071  ...    0
184 vegetal  1453                      25             5.83  248  ...  114
185 vegetal  7047                      11             1.05  384  ...    0
186 animal  14580                    2390            18.51  166  ... 5349
187 vegetal 20554                       1             2.44  772  ... 1901
188 animal  14695                    3394            17.17  194  ... 5353
189 vegetal  7921                      NA             0.60 1062  ...    0
190 vegetal  1491                      57             5.20  207  ...   79
191 vegetal   500                     158             1.05   52  ...   18
192 vegetal  1488                      13             5.46  251  ...   96
193 vegetal  8330                       0             0.59 1276  ...    3
194 vegetal  9958                       6             5.37  584  ... 8255
195 vegetal 24327                    1928             5.22 8238  ...   12
196 animal    761                      49            18.01   46  ...   99
197 vegetal  6676                      10             1.03  275  ...    0
198 vegetal 11062                      38             5.78 2334  ... 6319
199 vegetal  7639                      NA             0.60 1288  ...    0
200 animal  14472                    2833            17.27  154  ... 5533
    processing production protein_supply_quantity_gcapitaday seed
1       4        0          NA                                   47
2       4        0          NA                                   45
3      13       NA          10                                  178
4      NA        0         796                                 2400
5       4       NA          10                                  176
6       4       NA          10                                  178
7      NA      178        5298                                 7810
8      NA        0        1066                                 2430
9      NA        0        1032                                 2406
10     NA        0        1014                                 2398
11     NA        0        1082                                 2436
12      4       NA          15                                  179
13      4       NA          14                                  187
14     86        0          94                                 1156
15     NA      177        4984                                 7478
16     85        0          88                                 1146
17     85       NA          87                                 1144
18  41002       NA          NA                               538301
19  41793       NA          NA                               533329
20  42054       NA          NA                               534926
21     NA       NA        3693                                14559
22  41317        0          NA                               540974
23  41125       NA          NA                               525651
24  42095        0          NA                               535811
25  42372        0          NA                               537550
26  41421        0          NA                               528075
27     NA       NA        3585                                13551
28     84        0         116                                 1131
29  40138       NA          NA                               501692
30     84        0         100                                 1133
... ...        ...        ...                                ...
171 4373       12332         0                               79355
172   14          NA        47                                1446
173   16          NA        90                                1608
174 4382       12609         0                               81149
175 4484       12904         0                               83037
176  546          NA        NA                                7253
177  846         949      3948                               25673
178 1443           0         0                                8731
179   63           0         6                                 716
180   96           0       965                               12061
181   61           0         6                                 692
182   15          NA        97                                1566
183 1288           0         0                                7727
184   57          NA        NA                                1200
185  538          NA        NA                                7148
186   NA           0      2824                               11640
187  178           3         5                               18150
188   NA           0      2875                               12745
189 1333          NA         0                                7921
190   74          NA        NA                                1600
191   53          NA        NA                                 639
192   66          NA        NA                                1406
193 1401           3         0                                8327
194  747         835         0                                2440
195  856         950      3508                               26546
196   63           0         5                                 712
197  519          NA        NA                                6895
198  641         697        NA                                2731
199 1273           0         0                                7639
200   NA           0      2904                               11785
    stock_variation waste losses Tourist.consumption Other.uses..non.food.
1    6.60              0  NA        0                 0
2    5.97              0  NA        0                 0
3   34.17              0  NA        0                NA
4   35.03              0  NA        0                NA
5   33.17              0  NA        0                NA
6   33.41              0  NA        9                NA
7   32.13           -408  NA       37                NA
8   35.11              0  NA        0                NA
9   34.81              0  NA        0                NA
10  34.49              0  NA        0                NA
11  35.51              0  NA        0                NA
12  31.95              0  NA      -16                NA
13  31.96              0  NA       16                NA
14  38.68              0  NA        0                NA
15  30.19           -448  NA      -29                NA
16  37.81              0  NA        0                NA
17  37.60              0  NA        0                NA
18  12.32           -195  NA      308                NA
19  12.13           -180  NA     1695                NA
20  12.18           -176  NA      751                NA
21  30.37            -27  NA      -32                NA
22  12.16           -196  NA      394                19
23  11.99           -146  NA     2365                NA
24  11.97           -186  NA     1825                20
25  12.02           -178  NA      855                21
26  11.83           -146  NA     2392                20
27  30.70             -6  NA      423                NA
28  33.88              0  NA        0                NA
29  11.40           -171  NA     2320                NA
30  32.76              0  NA        0                NA
... ...             ...   ...    ...                 ...
171 23.94              0   589    9344               11
172 18.92              0    NA      31               NA
173 18.97              0    NA      28               NA
174 23.85              0   597    8849               11
175 23.76              0   606   12671               11
176  8.54              0  1458     -40               NA
177 28.21            -30   744     -26               NA
178  3.88              0    NA       0               NA
179 17.72              0    NA       0               NA
180 14.79              0    NA     248               NA
181 17.55              0    NA       3               NA
182 18.74              0    NA      36               NA
183  3.83              0    NA       0               NA
184 44.99              0    98    -164               NA
185  8.41              0  1436      89               NA
186 17.00              0    NA      19               NA
187 19.51           -218   228    -503               NA
188 16.07              0    NA       9               NA
189  3.84              0    NA       0               NA
190 44.45              0   131     132               NA
191  5.41              0    NA       0               NA
192 44.34              0   115       1               NA
193  3.78              0    NA       0               NA
194 43.85              0   123     731               NA
195 27.38            -79   769     304               NA
196 17.34              0    NA       0               NA
197  8.27              0  1386     209               NA
198 44.63            608   162   -2051               NA
199  3.71              0    NA       0               NA
200 16.07              0    NA      13               NA

Grouper ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15
produits. Ensuite, calculer pour chaque produit les 2 quantités suivantes :
●Le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité
intérieure.
●Le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la
nourriture (animale + humaine)

Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurezdonc 6
produits à citer)

Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de
produits animaux de 10% ?

In [148]:
alim_is_cereal %>%
filter(country=="United States of America", is_cereal==TRUE) %>%
replace_na(list(feed=0)) %>%
summarise(cereal_eaten_by_animals=sum(feed))

  cereal_eaten_by_animals
1 20.78

En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes
en sous-nutrition ?

In [158]:
alim

      country_code country item_code item                    year origin
1     1            Armenia 2511      Wheat and products      2014 vegetal
2     1            Armenia 2511      Wheat and products      2015 vegetal
3     1            Armenia 2511      Wheat and products      2016 vegetal
4     1            Armenia 2511      Wheat and products      2017 vegetal
5     1            Armenia 2511      Wheat and products      2018 vegetal
6     1            Armenia 2513      Barley and products     2014 vegetal
7     1            Armenia 2513      Barley and products     2015 vegetal
8     1            Armenia 2513      Barley and products     2016 vegetal
9     1            Armenia 2513      Barley and products     2017 vegetal
10    1            Armenia 2513      Barley and products     2018 vegetal
11    1            Armenia 2514      Maize and products      2014 vegetal
12    1            Armenia 2514      Maize and products      2015 vegetal
13    1            Armenia 2514      Maize and products      2016 vegetal
14    1            Armenia 2514      Maize and products      2017 vegetal
15    1            Armenia 2514      Maize and products      2018 vegetal
16    1            Armenia 2515      Rye and products        2014 vegetal
17    1            Armenia 2515      Rye and products        2015 vegetal
18    1            Armenia 2515      Rye and products        2016 vegetal
19    1            Armenia 2515      Rye and products        2017 vegetal
20    1            Armenia 2515      Rye and products        2018 vegetal
21    1            Armenia 2516      Oats                    2014 vegetal
22    1            Armenia 2516      Oats                    2015 vegetal
23    1            Armenia 2516      Oats                    2016 vegetal
24    1            Armenia 2516      Oats                    2017 vegetal
25    1            Armenia 2516      Oats                    2018 vegetal
26    1            Armenia 2517      Millet and products     2014 vegetal
27    1            Armenia 2517      Millet and products     2015 vegetal
28    1            Armenia 2517      Millet and products     2016 vegetal
29    1            Armenia 2517      Millet and products     2017 vegetal
30    1            Armenia 2517      Millet and products     2018 vegetal
...   ...          ...     ...       ...                     ...  ...
81883 351          China   2775      Aquatic Plants          2014 animal
81884 351          China   2775      Aquatic Plants          2015 animal
81885 351          China   2775      Aquatic Plants          2016 animal
81886 351          China   2775      Aquatic Plants          2017 animal
81887 351          China   2775      Aquatic Plants          2018 animal
81888 351          China   2781      Fish, Body Oil          2014 animal
81889 351          China   2781      Fish, Body Oil          2015 animal
81890 351          China   2781      Fish, Body Oil          2016 animal
81891 351          China   2781      Fish, Body Oil          2017 animal
81892 351          China   2781      Fish, Body Oil          2018 animal
81893 351          China   2782      Fish, Liver Oil         2014 animal
81894 351          China   2782      Fish, Liver Oil         2015 animal
81895 351          China   2782      Fish, Liver Oil         2016 animal
81896 351          China   2782      Fish, Liver Oil         2017 animal
81897 351          China   2782      Fish, Liver Oil         2018 animal
81898 351          China   2805      Rice and products       2014 vegetal
81899 351          China   2805      Rice and products       2015 vegetal
81900 351          China   2805      Rice and products       2016 vegetal
81901 351          China   2805      Rice and products       2017 vegetal
81902 351          China   2805      Rice and products       2018 vegetal
81903 351          China   2848      Milk - Excluding Butter 2014 animal
81904 351          China   2848      Milk - Excluding Butter 2015 animal
81905 351          China   2848      Milk - Excluding Butter 2016 animal
81906 351          China   2848      Milk - Excluding Butter 2017 animal
81907 351          China   2848      Milk - Excluding Butter 2018 animal
81908 351          China   2899      Miscellaneous           2014 vegetal
81909 351          China   2899      Miscellaneous           2015 vegetal
81910 351          China   2899      Miscellaneous           2016 vegetal
81911 351          China   2899      Miscellaneous           2017 vegetal
81912 351          China   2899      Miscellaneous           2018 vegetal
      domestic_supply_quantity export_quantity feed food     ... other_uses
1     639                       1              3.90 110      ... 344
2     748                       2              4.02 125      ... 324
3     650                       1              4.22 128      ... 312
4     547                       1              4.28 105      ... 337
5     571                       1              4.40 118      ... 379
6     196                       0              0.04 152      ...   6
7     203                       0              0.04 154      ...  16
8     230                      NA              0.04 157      ...  15
9     107                       0              0.02  70      ...  14
10    141                      NA              0.03  94      ...  17
11     39                      NA              0.00  33      ...  52
12     36                      NA              0.00  30      ...  49
13     58                      NA              0.00  53      ...  36
14     59                       0              0.00  54      ...  48
15     78                       0              0.00  71      ...  70
16      0                      NA              0.01   0      ...   0
17      0                      NA              0.00   0      ...   0
18      0                      NA              0.01   0      ...   0
19      1                      NA              0.01   0      ...   0
20      1                      NA              0.00   1      ...   0
21      8                      NA              0.09   6      ...   1
22     10                      NA              0.08   8      ...   1
23     10                      NA              0.10   8      ...   1
24      7                      NA              0.12   4      ...   1
25      6                      NA              0.11   4      ...   1
26      0                      NA                NA   0      ...   0
27      0                      NA                NA   0      ...   0
28      0                      NA                NA   0      ...   0
29      0                      NA                NA   0      ...   0
30      0                      NA                NA   0      ...   0
...   ...                      ...             ...  ...          ...
81883  15509.98                  32.84         0.00       NA ...  274.61
81884  16105.29                  29.32         0.00       NA ...  252.92
81885  16969.91                  32.50         0.00       NA ...  269.31
81886  17988.33                  24.11         0.00       NA ...  274.42
81887  17988.33                  24.11         0.00       NA ...  274.42
81888     86.58                  29.04         0.00    24.63 ...   70.60
81889     48.99                  48.44         0.00     8.67 ...   57.43
81890     62.85                  44.38         0.00     8.38 ...   42.20
81891     84.62                  29.74         0.00     9.55 ...   64.31
81892     84.62                  29.74         0.00     9.55 ...   64.31
81893      0.23                   0.36         0.00     0.01 ...    0.57
81894      0.05                   0.65         0.00     0.00 ...    0.70
81895      0.03                   0.84         0.00     0.00 ...    0.47
81896      0.13                   0.85         0.00     0.00 ...    0.85
81897      0.13                   0.85         0.00     0.00 ...    0.85
81898 197563.00                 604.00         2.67 13500.00 ... 4540.00
81899 201165.00                 494.00         2.70 15023.00 ... 5721.00
81900 202327.00                 831.00         2.79 13443.00 ... 5987.00
81901 203535.00                1793.00         2.77 14061.00 ... 6661.00
81902 206919.00                3178.00         2.81 15159.00 ... 5221.00
81903  43203.00                  58.00         3.21   271.00 ...  995.00
81904  37733.00                  62.00         2.88   263.00 ... 1172.00
81905  36861.00                  74.00         2.82   261.00 ... 1478.00
81906  36584.00                  88.00         2.75   259.00 ... 1544.00
81907  37076.00                  96.00         2.84   265.00 ... 1577.00
81908  -1063.00                1748.00         0.00       NA ...  690.00
81909  -1120.00                1842.00         0.00       NA ...  749.00
81910  -1110.00                1867.00         0.00       NA ...  812.00
81911  -1267.00                2097.00         0.00       NA ...  890.00
81912  -1364.00                2274.00         0.00       NA ...  965.00
      processing production protein_supply_quantity_gcapitaday seed
1     30          0         16                                 338
2     59          0         16                                 363
3     64          0         17                                 350
4     15          0         16                                 176
5     16          0         16                                 187
6     16          5          6                                 190
7     15          9          6                                 187
8     16         32          7                                 197
9     10         14          3                                  93
10    11         19          5                                 124
11     7         NA          0                                  20
12     6         NA          0                                  22
13     5         NA          0                                  21
14     4         NA          0                                  10
15     6         NA          0                                   8
16     0         NA          0                                   1
17     0         NA          0                                   0
18     0         NA          0                                   0
19     0         NA          0                                   0
20     0         NA          0                                   1
21     0         NA         NA                                   7
22     0         NA         NA                                   9
23     0         NA         NA                                   9
24     0         NA         NA                                   6
25     0         NA         NA                                   5
26    NA         NA         NA                                  NA
27    NA         NA         NA                                  NA
28    NA         NA         NA                                  NA
29    NA         NA         NA                                  NA
30    NA         NA         NA                                  NA
...   ...        ...        ...                                ...
81883    NA      15509.98     NA                                15268.21
81884    NA      16105.29     NA                                15881.69
81885    NA      16969.91     NA                                16733.10
81886    NA      17988.33     NA                                17738.02
81887    NA      17988.33     NA                                17738.02
81888    NA         61.95     NA                                   45.02
81889    NA         40.32     NA                                   40.00
81890    NA         54.47     NA                                   65.03
81891    NA         75.07     NA                                   50.04
81892    NA         75.07     NA                                   50.04
81893    NA          0.00     NA                                    0.02
81894    NA          0.00     NA                                    0.00
81895    NA          0.00     NA                                    0.40
81896    NA          0.00     NA                                    0.13
81897    NA          0.00     NA                                    0.13
81898  8216       1717.00   1176                               208240.00
81899  8515       2706.00   1125                               213724.00
81900 10344       1183.00   1075                               212682.00
81901 10423       2497.00   1058                               214430.00
81902  8624       2703.00    924                               214079.00
81903  2006          1.00   2415                                42265.00
81904  1727          1.00   2042                                36589.00
81905  1670          1.00   1972                                35474.00
81906  1656          1.00   1965                                35140.00
81907  1063          1.00   1982                                35600.00
81908    NA          0.00     NA                                      NA
81909    NA          0.00     NA                                      NA
81910    NA          0.00     NA                                      NA
81911    NA          0.00     NA                                      NA
81912    NA          0.00     NA                                      NA
      stock_variation waste losses Tourist.consumption Other.uses..non.food.
1     33.01            46   32      42                 NA
2     33.07           106   33     -63                 NA
3     34.70           -22   33      11                 NA
4     34.36           -42   25     -34                 NA
5     34.25           -27   20      -5                 NA
6      0.28             0   15       0                 NA
7      0.29             0   16       0                 NA
8      0.26             0   16     -18                 NA
9      0.14             0    8       0                 NA
10     0.20             0   10       0                 NA
11     0.00             0    0      33                 NA
12     0.01             0    0      35                 NA
13     0.01             0    0      -1                 NA
14     0.01             0    0       0                 NA
15     0.03             0    0      -1                 NA
16     0.03             0    0       1                 NA
17     0.01             0    0       0                 NA
18     0.03             0    0       0                 NA
19     0.03             0    0       0                 NA
20     0.03             0    0       0                 NA
21     0.19             0    1      -1                 NA
22     0.18             0    1       0                 NA
23     0.20             0    1       0                 NA
24     0.26             0    1       0                 NA
25     0.23             0    0       0                 NA
26       NA             0   NA       0                 NA
27       NA             0   NA       0                 NA
28       NA             0   NA       0                 NA
29       NA             0   NA       0                 NA
30       NA             0   NA       0                 NA
...   ...             ...   ...    ...                 ...
81883  0.00              NA   NA      NA               NA
81884  0.00              NA   NA      NA               NA
81885  0.00              NA   NA      NA               NA
81886  0.00              NA   NA      NA               NA
81887  0.00              NA   NA      NA               NA
81888  0.00              NA   NA       0               NA
81889  0.00              NA   NA       0               NA
81890  0.00              NA   NA       0               NA
81891  0.00              NA   NA       0               NA
81892  0.00              NA   NA       0               NA
81893  0.00              NA   NA       0               NA
81894  0.00              NA   NA       0               NA
81895  0.00              NA   NA       0               NA
81896  0.00              NA   NA       0               NA
81897  0.00              NA   NA       0               NA
81898 14.44               0 6955   14613               10
81899 14.46               0 6953   17786                9
81900 14.66               0 6939   15511                9
81901 14.52               0 7018   15763                9
81902 14.80               0 6875    9202                9
81903  3.05               0   NA      -1                9
81904  2.74               0   NA     -34                8
81905  2.68               0   NA      18                8
81906  2.64               0   NA      13                7
81907  2.72               0   NA       6                8
81908  0.01           -1292   NA       4                5
81909  0.01           -1356   NA      28                6
81910  0.00           -1335   NA      55                7
81911  0.00           -1481   NA      60                7
81912  0.00           -1562   NA      55                7

In [167]:
alim %>%
filter(country=="Thailand", item_code==2532) %>%
select(export_quantity, production) %>%
replace_na(list(export_quantity=0, production=0)) %>%
summarise(export=sum(export_quantity), production_=sum(production)) %>%
summarise(manioc_exported=export/production_)

  manioc_exported
1 58.78526

In [ ]:
les résultats que nous trouvons ne sont pas cohérents...

In [174]:
pop_thai <- pop %>% filter(Country=="Thailand")

In [175]:
pop_thai_sous_nut <- sous_nut %>% filter(Country=="Thailand")

In [179]:
pop_thai %>% mutate(sous_nut_pourcent=pop_thai_sous_nut$Population/pop_thai$Population*100)

  Country  Country_code Year Population sous_nut_pourcent
1 Thailand 216          2014 68439000   8.766931
2 Thailand 216          2015 68715000   8.586189
3 Thailand 216          2016 68971000   8.699308
4 Thailand 216          2017 69210000   8.958243
5 Thailand 216          2018 69428000   9.362217